
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.dimensioni{
    max-width: 40%;
    height: 100vh;
    
}
button{
    background-color: color;
}
.container{
    background-color: #f7f7f7;
}
button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: orange;
    border: 2px solid #f7f7f7;
    border-radius: 20px;
    padding: 10px 0px;
}

.number{
    
    background-color: #ff5722;
}
.operatori{
    
    background-color: #007bff;
}
.lettere{
    background-color: #696969;

}
.risultato{
    background-color: #ffffff ;
    color: black;
    font-size: 20px;
    font-weight: 700;
    
    border: 2px solid #f7f7f7;
    border-radius: 20px;
    padding: 10px 0px;
}
